#Generated

.config
.version
Module.symvers
arch/arm64/include/generated/
include/config/
include/generated/
scripts/basic/fixdep
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
sw-tools/out/*
swift/boot_A530F.img
.config.old